body {
  background-image: url(../css/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #F4B600;
  font-family: "Homemade Apple", cursive;
}

h1, h3 {
  text-align: center;
}

#account {
  text-align: center;
  display: none;
  background-color: #000;
  box-shadow: 10px 10px 5px #000;
  border: 2px solid;
  border-radius: 25px;
  padding: 15px;
  margin-top: 15px;
}


#box1, #box2 {
  background-color: #000;
  box-shadow: 10px 10px 5px #000;
  border: 2px solid;
  border-radius: 25px;
  padding: 15px;
  margin: 30px;
  text-align: center;
}

#box1 {
  float:left;
}

#box2 {
  float: right;
  display: none;
}

.btn, .btn-warning {
  color: #000;
}

.btn:hover {
  color: red;
}

.btn-warning:hover {
  color: red;
}
